@import './colors';

.App.DARK {
    background-color: black;
}

.Nav.DARK {
    color: #000;
    background-color: $white;
    & nav a {
        color: black;
        background-color: $white;
        &:hover {
            color: $white;
            background-color: rgba(0, 0, 0, .95);
        }
    }
    & button {
        & i {
            color: #000;
        }
    }
}

.Landing.DARK {
    color: $white;
    background-color: black;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, .8)), url('../images/landing_dark.jpeg');
    i {
        color: $white;
    }
}

.Portfolio.DARK {
    color: $white;
    background-color: black;
    & main {
        color: #000;
        & div {
            background: linear-gradient(to top, #222, black, black);
            color: #000;
            & h2 {
                color: $white;
                background-color: rgba(0,0,0,0);
            }
            & p {
                color: $white;
            }
            & aside {
                a, i {
                    color: $white;
                }
            }
        }
    }
}

.Footer.DARK {
    color: #000;
    background-color: $white;
}