@import 'sass/reset';
@import 'sass/fonts';
@import 'sass/colors';
@import 'sass/theme';
// @import 'sass/debug';

html {
    scroll-behavior: smooth;
}

body {
    font-family: $roboto;
    line-height: 1.4;
}

.Nav {
    inline-size: 100%;
    position: fixed;
    top: 0;
    background: $shark;
    opacity: 96%;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
    &__theme {
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0);
        color: $white;
        font-size: 1.5rem;
        padding: .1rem .5rem;
        cursor: pointer;
        &:hover {
            filter: brightness(85%);
        }
        &:focus {
            border: none;
            outline: none;
        }
    }
    &__nav-bar {
        display: flex;
        align-items: center;
        a {
            font-family: $roboto;
            block-size: 100%;
            font-size: 1.5rem;
            font-weight: 400;
            color: $white;
            padding: .5rem 1rem;
            position: relative;
            &:hover {
                text-decoration: none;
                background: $white;
                color: $shark;
            }
        }
    }
}

.Landing {
    min-block-size: 100vh;
    background: 
        linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, .25), rgba(0, 0, 0, 0)),   
        url('../images/landing.jpeg') 
        no-repeat 
        center 
        center 
        fixed;
    background-size: cover;
    position: relative;
    &__hero {
        block-size: 18rem;
        inline-size: 40rem;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media screen and (max-width: 750px) {
            inline-size: 20rem;
            top: 40%;
            margin: 0 auto;
        }
        &__title {
            color: $shark;
            font-family: $helvetica;
            font-size: 6rem;
            font-weight: 1000;
            letter-spacing: .01em;
            @media screen and (max-width: 750px) {
                line-height: 1;
                margin: 1rem auto;
            }
        }
        &__subtitle {
            font-family: $helvetica;
            font-size: 1.5rem;
            margin-top: .75rem;
            @media screen and (max-width: 750px) {
                padding: 1.5rem; 
            }
        }
    }
}

.Social {
    display: inline;
    &__link {
        text-decoration: none;
        color: rgba(33, 37, 41, 1);
        &:hover {
            color: rgba(33, 37, 41, .95);
        }
    }
    &__icon {
        font-size: 4rem;
        margin: 2rem;
        @media screen and (max-width: 750px) {
            margin: 1rem;
        }
    }
}

.header {
    font-family: $roboto;
    inline-size: auto;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 1000;
    letter-spacing: .01rem;
    margin: 0 auto;
}

.Portfolio {
    min-block-size: 100vh;
    &__header {
        padding-top: 3rem;
    }
    &__container {
        max-width: 60rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(31, 1fr);
        grid-template-rows: repeat(9, 1fr);
        @media screen and (max-width: 1000px) {
            display: flex;
            flex-direction: column;
            max-width: 21rem;
            margin-bottom: 3rem;
        }
        &__card { 
            background: $white;
            block-size: 27rem;
            inline-size: 21rem;
            border-radius: 2rem;
            overflow: hidden;
            box-shadow: 0px 1rem 1.75rem rgba(black, 0.4);
            transition: all .2s ease-out;
            backface-visibility: hidden;
            @media screen and (max-width: 1000px) {
                margin-top: 3rem;
                block-size: 30rem;
            }
            @media screen and (max-width: 338px) {
                width: 98vw;
                margin: 3rem 1vw;
            }
            &__img {
                pointer-events: none;
                block-size: 13rem;
                box-shadow: 0px .75rem 1.5rem rgba(black, 0.25);
                transition: all .2s ease-out, pointer-events 0 ease-out .2s;
            }
            &__title {
                font-size: 1.75rem;
                text-align: center;
                font-weight: 900;
                margin: 1rem;
            }
            &__description {
                text-align: center;
                padding: 0 1rem;
            }
            &:hover {
                transform: scale(1.05);
                z-index: 10000;
                transition: all .2s ease-out;
                img {
                    pointer-events: unset;
                    block-size: 11rem;
                    transition: all .2s ease-out;
                }
                i {
                    filter: opacity(1);
                }
            }
            &__links {
                inline-size: 100%;
                display: flex;
                justify-content: space-around;
                a {
                    text-decoration: none;
                    text-align: center;
                    color: $shark;
                    p {
                        font-weight: 600;
                        transition: all .2s ease-out;
                    }
                }
                i {
                    color: $shark;
                    font-size: 1.5rem;;
                    filter: opacity(0);
                    transition: all .2s ease-out;
                    @media screen and (max-width: 1000px) {
                        filter: opacity(1)
                    }
                }
                &:hover {
                    text-decoration: none;
                    p {
                        text-decoration: none;
                        transition: all .2s ease-out;
                    }
                }
            }
        }
    }
}

// project card positioning and initial state
.project_1 {
    grid-area: 1 / 1 / 8 / 11;
}
.project_2 {
    grid-area: 2 / 11 / 9 / 22; 
    z-index: 5000;
}
.project_3 {
    grid-area: 1 / 21 / 8 / 32;
}

.Footer {
    block-size: 3rem;
    text-align: center;
    color: $white;
    background-color: rgba(0, 0, 0, 0.94);
    padding-top: 1rem;
    bottom: 0;
}