@import 'sass/reset';
@import 'sass/fonts';
@import 'sass/colors';
@import 'sass/components';
@import 'sass/theme';
// @import 'sass/debug';

html {
    scroll-behavior: smooth;
}

body {
    font-family: $roboto;
}

.Nav {
    inline-size: 100%;
    position: fixed;
    top: 0;
    background: $shark;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
    &__theme {
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0);
        color: $white;
        font-size: 1.5rem;
        padding: .1rem .5rem;
        &:hover {
            filter: brightness(85%);
        }
        &:focus {
            border: none;
            outline: none;
        }
    }
    &__nav-bar {
        display: flex;
        align-items: center;
        a {
            font-family: $roboto;
            block-size: 100%;
            font-size: 1.5rem;
            font-weight: 400;
            color: $white;
            padding: .5rem 1rem;
            position: relative;
            &:hover {
                text-decoration: none;
                background: $white;
                color: $shark;
            }
        }
    }
}

.Landing {
    min-block-size: 100vh;
    background: 
        linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, .25), rgba(0, 0, 0, 0)),   
        url('https://images.unsplash.com/photo-1580812528693-ebc601b9baf0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') 
        no-repeat 
        center 
        center 
        fixed;
    background-size: cover;
    position: relative;
    &__hero {
        block-size: 18rem;
        inline-size: 40rem;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media screen and (max-width: 750px) {
            inline-size: 20rem;
            top: 40%;
            margin: 0 auto;
        }
        &__title {
            font-family: $helvetica;
            font-size: 6rem;
            font-weight: 1000;
            letter-spacing: .01em;
        }
        &__subtitle {
            font-family: $helvetica;
            font-size: 1.5rem;
            margin-top: .75rem;
        }
    }
}


.Social {
    display: inline;
    &__link {
        color: rgba(33, 37, 41, 1);
        &:hover {
            color: rgba(33, 37, 41, .95);
        }
    }
    &__icon {
        font-size: 3rem;
        margin: 1rem 2rem;
    }
}

.Footer {
    block-size: 3rem;
    text-align: right;
    color: $white;
    background-color: rgba(0, 0, 0, 0.94);
    padding-right: .25rem;
    bottom: 0;
}